<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Finote</h1>
            <div class="search-container">
                <input type="text" class="search-bar" placeholder="트위터 검색">
            </div>
        </div>
        
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
